In [3]:
import numpy as np
import pandas as pd
import requests
import time
import ast
import pickle

In [4]:
# API_KEY = 'your_api_key'  # Replace with your actual API key
# BASE_URL = 'https://api.themoviedb.org/3'
# MOVIE_COUNT = 500  # Set this to the total number of movies you want to fetch

# headers = {
#     "accept": "application/json",
#     "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlYmM5NDIwOTkzZTE0NWQ3NGU0ODc3ZTU3OTIzYTdhYSIsIm5iZiI6MTcyMzU0MDIxNi4yOTI5Nywic3ViIjoiNjZiYjIxOTI2ZjZjMTlmMmMxOTE0NmQwIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.4-rg8ilcwwnOarQj0RcN7Ahoxp78yqncGEGT8SMxr5g"
# }

# def fetch_movies_data():
#     all_movies = []
#     page = 90

#     while len(all_movies) < MOVIE_COUNT:
#         params = {
#             "language": "en-US",
#             "page": page
#         }
#         response = requests.get(f'{BASE_URL}/movie/popular', headers=headers, params=params)

#         if response.status_code == 200:
#             data = response.json()  # Convert response to JSON
#             for movie in data['results']:
#                 # Fetch additional details for each movie
#                 details = get_movie_details(movie['id'])
#                 cast = get_movie_cast(movie['id'])

#                 # Extract cast names (top 5)
#                 cast_names = [member['name'] for member in cast[:5]]

#                 movie_data = {
#                     'Title': details.get('title'),
#                     'Release Date': details.get('release_date'),
#                     'Budget': details.get('budget'),
#                     'Revenue': details.get('revenue'),
#                     'Genres': ', '.join([genre['name'] for genre in details.get('genres', [])]),
#                     'Cast': ', '.join(cast_names),
#                     'Rating': details.get('vote_average'),
#                     'Vote Count': details.get('vote_count'),
#                     'Runtime': details.get('runtime'),
#                     'Overview': details.get('overview')
#                 }
#                 all_movies.append(movie_data)

#                 # Print out the movie details for debugging
#                 print(f"Title: {movie_data['Title']}, Release Date: {movie_data['Release Date']}, Rating: {movie_data['Rating']}")
#         else:
#             print(f"Failed to retrieve data. Status code: {response.status_code}")
#             break  # Stop the loop if the API request fails

#         page += 1

#     return all_movies

# def get_movie_details(movie_id):
#     """Get detailed information for a specific movie."""
#     url = f'{BASE_URL}/movie/{movie_id}'
#     params = {'api_key': API_KEY}
#     response = requests.get(url, headers=headers)
#     return response.json()

# def get_movie_cast(movie_id):
#     """Get cast information for a specific movie."""
#     url = f'{BASE_URL}/movie/{movie_id}/credits'
#     response = requests.get(url, headers=headers)
#     return response.json().get('cast', [])

# def save_to_csv(movies_data):
#     df = pd.DataFrame(movies_data)
#     df.to_csv('movies_data.csv', index=False)

# # Fetch movie data
# movies_data_2 = fetch_movies_data()

# # Save the data to csv
# save_to_csv(movies_data_2)

# print("CSV file 'movies_data.csv' has been created.")

In [5]:
credits = pd.read_csv('Data//tmdb_5000_credits.csv')
movies = pd.read_csv('Data//tmdb_5000_movies.csv')

In [6]:
movies = movies.merge(credits,on='title')

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [8]:
# genres
# id
# keywords
# title
# overview
# cast
# crew

In [9]:
movies = movies[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [10]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
movies.dropna(inplace=True)

In [12]:
movies.duplicated().sum()

0

In [13]:
def clean(x):
    L = []
    for i in ast.literal_eval(x):
        L.append(i['name'])
    return L

In [14]:
movies['genres'] = movies['genres'].apply(clean)

In [15]:
movies['keywords'] = movies['keywords'].apply(clean)

In [16]:
def cleanCast(x):
    L = []
    index = 0
    for i in ast.literal_eval(x):
        if index != 3:
            L.append(i['name'])
            index += 1
        else:
            break
    return L

In [17]:
movies['cast'] = movies['cast'].apply(cleanCast)

In [18]:
def fetchDirector(x):
    L = []
    index = 0
    for i in ast.literal_eval(x):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [19]:
movies['crew'] = movies['crew'].apply(fetchDirector)

In [20]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [21]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [22]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [23]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [24]:
cleanMovies = movies[['id','title','tags']]

In [25]:
cleanMovies['tags'] = cleanMovies['tags'].apply(lambda x: " ".join(x))

C:\Users\nisch\AppData\Local\Temp\ipykernel_71756\399520624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanMovies['tags'] = cleanMovies['tags'].apply(lambda x: " ".join(x))

In [26]:
cleanMovies.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [27]:
cleanMovies['tags'] = cleanMovies['tags'].apply(lambda x:x.lower())

C:\Users\nisch\AppData\Local\Temp\ipykernel_71756\2477066890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanMovies['tags'] = cleanMovies['tags'].apply(lambda x:x.lower())

In [28]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [29]:
def stem(text):
    L = []
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [30]:
cleanMovies['tags'] = cleanMovies['tags'].apply(stem)

C:\Users\nisch\AppData\Local\Temp\ipykernel_71756\1226979651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanMovies['tags'] = cleanMovies['tags'].apply(stem)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [32]:
vectors = cv.fit_transform(cleanMovies['tags']).toarray()

In [33]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [34]:
def recommend(movie):
    movie_index = cleanMovies[cleanMovies['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])[1:6]
    
    for i in movies_list:
        print(cleanMovies.iloc[i[0]].title)

In [36]:
recommend('Spider-Man')

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man 2
Arachnophobia
Kick-Ass

In [38]:
pickle.dump(cleanMovies.to_dict(),open('movie_dict.pkl','wb'))

In [40]:
pickle.dump(similarity,open('similarity.pkl','wb'))

: